@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

/* Reverts Safari compatibility hack, as this introduces small offset issue for non-Safari browsers. Inline to take less space. */
a[href] { &:hover { translate: none !important; } }

/* Docsify Style */

::selection {
    background-color: color-mix(in srgb, var(--color-text), transparent 80%);
}

:root {
    /* BASE PROPERTIES */
    --font-family: 'Maven Pro';
    --color-text: #BBBBBB;
    --color-bg: #191919;
    /* THEME COLORS */
    --theme-color: #ff7a59;
    /* HEADING */
    --heading-color: #DDDDDD;
    --heading-h2-border-style: none;
    --heading-h2-margin: 0;
    --heading-h2-padding: 0;
    /* CONTENT */
    --content-max-width: 85em;
    /* DECORATIONS */
    --strong-color: #DDDDDD;
    /* LINKS */
    --link-color: #ff714e;
    --link-color-hover: color-mix(in srgb, var(--link-color), black 20%);
    --link-underline-color: inherit;
    --link-underline-thickness: 1px;
    --link-underline-thickness-hover: 1px;
    /* NAVBAR */
    --navbar-root-margin: 0 0 0 1.2em;
    /* SIDEBAR */
    --sidebar-name-font-family: Potta One;
    --sidebar-name-font-size: 32px;
    --sidebar-name-font-weight: none;
    --sidebar-bg: color-mix(in srgb, var(--color-bg), black 10%);
    --sidebar-border-color: none;
    /* SIDEBAR TOGGLE BUTTON */
    --sidebar-toggle-width: 18px;
    --sidebar-toggle-height: 36px;
    --sidebar-toggle-bg: var(--color-mono-2);
    --sidebar-toggle-bg-hover: var(--color-mono-2);
    --sidebar-toggle-color: var(--color-bg);
    --sidebar-toggle-color-hover: var(--color-mono-4);
}

.callout.tip {
    --callout-bg: var(--color-mono-1);
    --callout-border-color: #4989f4;
    --callout-charm-content: '?';

    strong {
        color: #4989f4 !important;
    }
}

/* GLOBAL STYLE */

a {
    transition: color 0.3s;
}

/* NAVBAR */

.app-nav li:has(a):hover {
    transition: background 0.3s;
    background-color: var(--color-mono-2);

    a {
        color: var(--color-text) !important;
        text-decoration: none;
    }
}

.app-nav li:has(a) {
    border-radius: 8px;

    a {
        padding: 8px;
    }
}

.sidebar-nav {
    user-select: none;
    margin-left: 0.5em;

    i {
        margin-right: 0.75em;
    }

    li:not(a) {
        margin-top: 1.5em;
        margin-bottom: 0.5em;

        > strong {
            font-size: 80%;
            opacity: 0.75;
            font-weight: bold;
            
        }
    }

    li:has(a) {
        border-radius: 8px;
        margin: 0.25em 1.25em;

        > a {
            padding: 0.25em 0.5em;
            text-decoration: none;
        }
    }

    li:hover:has(a) {
        background-color: var(--color-mono-1);
        transition: 0.2s
    }

    li.active:has(a) {
        background-color: color-mix(in srgb, var(--theme-color-1), transparent 50%);
    }
    
}

.app-name {
    letter-spacing: 2px;
    padding-bottom: 0.3em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, .25), -1px -1px 8px rgba(0, 0, 0, .25);

    > a {
        text-decoration: none;
        color: var(--theme-color) !important;
        
    }
}

/* IMG STYLING */

.img-width-479 {
    width: 479px;
}

/* TEXT DECORATIONS */

.bold {
    font-weight: bold;
}

.green {
    color: #259646
}

.yellow {
    color: #CF940A;
}

.red {
    color: #E04F44;
}

.badge {
    font-weight: bold;
    font-size: 0.85em;
    color: white;
    border-radius: 5px;
    text-align: middle;
    text-shadow: 0 0 2px #454545;
    padding: 5px;
    background-color: #2C9635;
}

sup {
    display: inline-block;
    margin-top: 0.25em;
    margin-left: 0.1em;
    line-height: 1.25;
    opacity: 0.75
}